{% extends "index.html" %}
{% block main %}
    <main class="container-fluid mt-auto mb-auto">
        <h2 class="text-center mb-5">{{ game.title }} ({{ game.publication_year }})</h2>
        <div class="d-flex flex-row justify-content-center align-items-center mx-auto mb-5 col-8">
            {% if game.id not in owned_games %}
                <button class="btn mr-3 col-3 text-white"
                        onclick="window.location.href='{{ url_for("jeux.add_game_collection", game_id=game.id) }}';">
                    Ajouter à la collection
                </button>
            {% else %}
                <button class="btn mr-3 col-3 text-white"
                        onclick="window.location.href='{{ url_for("jeux.remove_game_collection", game_id=game.id) }}';">
                    Retirer de la collection
                </button>
            {% endif %}
            {% if game.id not in wished_games %}
                <button class="btn ml-3 col-3 text-white"
                        onclick="window.location.href='{{ url_for("jeux.add_game_wish", game_id=game.id) }}';">
                    Ajouter à la liste de souhaits
                </button>
            {% else %}
                <button class="btn ml-3 col-3 text-white"
                        onclick="window.location.href='{{ url_for("jeux.remove_game_wish", game_id=game.id) }}';">
                    Retirer de la liste de souhaits
                </button>
            {% endif %}
            {% if game.id not in noted_games %}
                <button class="btn ml-3 col-3 text-white" data-toggle="modal" data-target="#myModal{{ game.id }}">Noter
                    le jeu
                </button>
            {% else %}
                <button class="btn ml-3 col-3 text-white" data-toggle="modal" data-target="#myModal{{ game.id }}">
                    Modifier la note du jeu
                </button>
            {% endif %}
        </div>
        <div class="d-flex flex-row">
            <div class="col-4">
                <h3 class="text-center mb-3">Illustration</h3>
                <img class="img-fluid rounded-lg shadow-lg" src="{{ game.image }}" alt="Illustration">
            </div>
            <div class="col-4">
                <h3 class="text-center mb-3">Informations</h3>
                <ul class="list-group">
                    <li class="list-group-item">Temps minimum d'une partie : {{ game.min_playtime }} minutes</li>
                    <li class="list-group-item">Nombre minimum de joueurs : {{ game.min_players }} joueurs</li>
                    <li class="list-group-item">Nombre maximum de joueurs : {{ game.max_players }} joueurs</li>
                    <li class="list-group-item">Note : {{ average_grade }} /10</li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="text-center mb-3">Avis</h3>
                <ul class="list-group">
                    {% if messages != None %}
                        {% for message in messages %}
                            {% if message.message != None %}
                                <li class="list-group-item">{{ message.message }}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if game.id not in noted_games %}
            <div class="modal fade" id="myModal{{ game.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content container">
                        <div class="modal-header row">
                            <h4 class="modal-title" id="myModalLabel">{{ game.title }}</h4>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body row-12">
                            <form action="{{ url_for("jeux.add_game_note", game_id=game.id) }}" method="post">
                                <div class="form-group form-row">
                                    <label for="note" class="control-label col-md-2">Note :</label>
                                    <input type="number" class="form-control-sm col-sm-2" min="0" max="10" id="note"
                                           name="note" required>
                                    <h4 class="col-lg-2">/10</h4>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message :</label>
                                    <textarea type="text" class="form-control" id="message-text"
                                              name="message-text"></textarea>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Sauvegarder">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="modal fade" id="myModal{{ game.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content container">
                        <div class="modal-header row">
                            <h4 class="modal-title" id="myModalLabel">{{ game.title }}</h4>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body row-12">
                            <form action="{{ url_for("jeux.update_game_note", game_id=game.id) }}" method="post">
                                <div class="form-group form-row">
                                    <label for="note" class="control-label col-md-2">Note :</label>
                                    <input type="number" class="form-control-sm col-sm-2" min="0" max="10" id="note"
                                           name="note" value="{{ rating.note }}" required>
                                    <h4 class="col-lg-2">/10</h4>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message :</label>
                                    <textarea type="text" class="form-control" id="message-text"
                                              name="message-text"> {{ rating.message }}</textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                <button class="btn ml-3 col-3 text-white"
                                        onclick="window.location.href='{{ url_for("jeux.remove_game_note", game_id=game.id) }}';">
                                    Effacer la note
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}